*{
	margin: 0%;
	padding: 0%;
}
.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 400px;
}
.img-responsive{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
}
.comparison{
  display: flex;
  justify-content: space-around;
}
a{
  padding:10px;
  background-color: #9181b1;
}